# crontab(5) and cron(8)
# m h  dom mon dow   command
0 23 * * * jsub -N transnamespace_moves -mem 4G -quiet mono /data/project/mbh/bots/trans.ns.moves.exe
55 23 * * * jsub -N orphan_files -mem 4G -quiet mono /data/project/mbh/bots/orphan-files.exe
55 23 * * * jsub -N files_without_license -mem 4G -quiet mono /data/project/mbh/bots/nolicensed_files.exe
0 0 * * 6 jsub -N trans_redirects -mem 4G -quiet mono /data/project/mbh/bots/incorrect_redirects.exe
0 23 * * * jsub -N remove_curr_events -mem 4G -quiet mono /data/project/mbh/bots/currevents_remove.exe
0 * * * * jsub -N exclude_deleted_files -mem 4G -quiet mono /data/project/mbh/bots/exclude_deleted_files.exe
0 23 * * * jsub -N nonfree_files_in_nonmain_ns -mem 4G -quiet mono /data/project/mbh/bots/nffiles_in_nmns.exe
0 * * * * jsub -N comm_delinker -mem 4G -quiet mono /data/project/mbh/bots/mbh_delinker.exe
0 22 * * * jsub -N retired_users -mem 4G -quiet mono /data/project/mbh/bots/retired_counter.exe
0 22 * * * jsub -N flag_removing_arch -mem 4G -quiet mono /data/project/mbh/bots/zsf_archiving.exe
0 2 1 * * jsub -N adminstats -mem 4G -quiet mono /data/project/mbh/bots/adminstats.exe
0 22 * * * jsub -N cat_moves -quiet -mem 4G mono /data/project/mbh/bots/catmoves.exe
0 1 1 * * jsub -N p_watch -mem 4G -quiet mono /data/project/mbh/bots/page_watchers.exe
0 1 1 * * jsub -N likes -mem 4G -quiet mono /data/project/mbh/bots/thanksgivers.exe
0 2 1 * * jsub -N extlinks_cnt -mem 4G -quiet mono /data/project/mbh/bots/extlinks_count.exe
0 2 1 * * jsub -N wd_wo_ruwiki -mem 4G -quiet mono /data/project/mbh/bots/best_wd_items_wo_ruwiki.exe
0 0 1 * * jsub -N botstats -mem 4G -quiet mono /data/project/mbh/bots/botstats.exe
0 0 1 * * jsub -N pats-awarding -mem 4G -quiet mono /data/project/mbh/bots/patstats.exe
0 */2 * * * jsub -N numof_updater -mem 4G -quiet mono /data/project/mbh/bots/numof_updater.exe
0 0 28 * * jsub -N creators -mem 4G -quiet mono /data/project/mbh/bots/page_creators.exe
0 0 2 * * jsub -N pageview_peaks -mem 4G -quiet mono /data/project/mbh/bots/pageview_peaks.exe
0 0 2 1 * jsub -N pageviews_yearly -mem 4G -quiet mono /data/project/mbh/pageview_peaks_yearly.exe
0 1 1 * * jsub -N sumstats -mem 4G -quiet mono /data/project/mbh/bots/summary_stats.exe
0 2 * * * jsub -N removeqid -mem 4G -quiet mono /data/project/mbh/bots/removeqid.exe
0 3 * * * jsub -N sparql-sync -mem 4G -quiet /data/project/mbh/bots/sparql-sync
0 1 * * * jsub -N editnotice -mem 4G -quiet mono /data/project/mbh/bots/editnotices-from-filter.exe
0 3 1 * * jsub -N monthcreators -mem 4G -quiet mono /data/project/mbh/bots/best-artcl-creators.exe
